<div *ngIf="numberOfPlayer==0">
  <h1>
  content works!
  </h1>
  <h4>The basket is empty</h4>
  
</div>
<!-- <div *ngIf="contents.length == 0">
  <h1>The basket is empty</h1>

</div> -->

<div *ngIf="numberOfPlayer > 0">

  <h1>My Content</h1>
  <p>Now we have {{numberOfPlayer}} players</p>
  
  <!-- 
<ul>
  <li *ngFor='let elem of data'>{{ elem.item }}</li>
</ul> -->

<table>
    <!-- <tr *ngFor="let i of theWholeCards"> -->
    <tr *ngFor="let i of alphas">
      <td >
        <!-- <img [src]="i.imageUrl" width="28px"> -->
        <p>Player {{i}}</p>
      </td>
       <td *ngFor="let i of theWholeCards">
         <img [src]="i.imageUrl" [alt]="i.value" width="50px">
      </td> 
    </tr> 

    <hr >
    
    <tr>
      <td *ngFor="let i of shuffleCards">
        <!-- <img [src]="i.imageUrl" width="28px"> -->
       <img [src]="i.imageUrl" [alt]="i.value" width="50px">
      </td>

      <hr>
      <td *ngFor="let i of cards">
         <img [src]="i.imageUrl" [alt]="i.value" width="50px">
      </td>   
    </tr> 
  </table>


</div>


